<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title: 'Homepage' }) %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('./partials/navbar.ejs') %>
        <main class="container mt-5">
            <h1>Welcome to Yelpcamp</h1>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>