<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: 'New Campground' }) %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/navbar.ejs') %>
            <div class="container mt-5">
                <div class="row">
                    <h1 class="text-center">New Campground</h1>
                    <div class="col-6 offset-3">
                        <form action="/campgrounds" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" name="campground[title]" id="title" required>
                                <div class="valid-feedback">Looks good</div>
                                <div class="invalid-feedback">Somethings wrong!!!</div>
                            </div>
                            <div class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" class="form-control" name="campground[location]" id="location"
                                    required>
                                <div class="invalid-feedback">Please type a location</div>
                            </div>
                            <div class="mb-3">
                                <label for="file-upload" class="form-label">Choose image(s)</label>
                                <input type="file" class="form-control" id="file-upload" name="image" aria-label="Upload" multiple required>
                                <div class="invalid-feedback">Something wrong!</div>
                                <div id="file-names"></div>
                              </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Campground Price</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="price-label">$</span>
                                    <input type="text" class="form-control" id="price" name="campground[price]"
                                        placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                                    <div class="invalid-feedback">Not a valid price!</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" name="campground[description]" id="description"
                                    rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary">Add Campground</button>
                            </div>
                        </form>
                        <footer>
                            <a href="/campgrounds">All Campgrounds</a>
                        </footer>
                    </div>
                </div>
            </div>
            <%- include('../partials/footer.ejs') %>
            <script src="/js/fileNames.js"></script>
            <script src="/js/validateForm.js"></script>
    </body>

</html>